body {
    background-color: #182f32; /* New background color for the main content */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Palatino', serif;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background: #acb4b5;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(main.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #213032;
    margin-right: 40px;
}

#userGreeting {
    display: block;
    color: #000000;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    margin-right: 100px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
.nav-bar ul{
    display: flex;
    list-style: none;
}
.nav-bar ul li a{
    display: block;
    color: #edffef;
    font-size: 20px;
    padding: 8px 25px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}
.nav-bar ul li:hover a{
    background-color: #97a2a3;
    color: #213032;
    cursor: pointer;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #68929B;
    font-size: 75px;
    margin: 20px 0px 20px;
}
h3{
    color: #edffef;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #edffef;
    letter-spacing: 2px;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 20px 0 20px 0;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: #97a2a3;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 22px;
    margin-bottom: 45px;
	text-align: justify;
}
.about-text{
    width: 500px;
}

/*Recipe Section CSS*/
.recipe{
    width: 100%;
    padding: 100px 0px;
    background-color: #213032;
}
.recipe h2{
    color: #edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card img{
    width: 100%;
    height: 1005;
    object-fit: cover;
   
}
.box .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card:hover .content{
    opacity: 1;
}
.card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}
.box .card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
 
 .search-bar {
    position: relative;
    width: 300px;
    margin: 0 auto 20px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-bar button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button i {
    font-size: 20px;
    color: #888;
}

 /*Categories*/
 .categories{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
 }
 .categories h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
 }
 .ca-card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .box .ca-card .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
 }
 .box .ca-card:hover .content{
    opacity: 1;
 }
 .ca-card h3{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #213032;
 }
 .box .ca-card p{
    font-size: 14px;
    margin-bottom: 10px;
 }
 .box .ca-card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .ca-card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 50px;
    background-color: #acb4b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.social-icons a {
    color: #213032;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #edffef;
}
footer h5{
    font-size: 16px;
    color: #213032;
}

/* Dropdown */
.search-bar {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Shows dropdown when input is focused */
#search:focus + .dropdown-content {
    display: block;
}

/* Contact Section */
.contact {
    width: 100%;
    padding: 100px 0px;
    background-color: #182f32;
}

.contact .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info, .contact-form {
    flex: 1;
    min-width: 300px;
    margin: 20px;
	color: #edffef;
}

.contact-info h2, .contact-form h2 {
    color: #edffef;
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #edffef;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #213032;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}
/* Auth Section */
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); /* Subtract header and footer height */
    background-color: #213032;
}

.auth-container {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #213032;
}

.auth form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.auth label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #213032;
}

.auth input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 16px;
}

.auth button {
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: none;
    font-weight: bold;
    padding: 13px 30px;
    transition: .4s;
    cursor: pointer;
}

.auth button:hover {
    background-color: #97a2a3;
    color: #213032;
}

.auth p {
    margin-top: 20px;
    color: #213032;
}


/* Recipe details page */
.recipe-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.recipe-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 90%;
    color: #edffef;
}
.recipe-box h1 {
    color: #edffef;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.recipe-box h2 {
    color: #97a2a3;
    font-size: 30px;
    margin-bottom: 10px;
    border-bottom: 2px solid #edffef;
    padding-bottom: 5px;
}
.recipe-box p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
}
.recipecategory {
    width: 25%; /* 25% width to fit 4 items per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.recipecategory img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.recipecategory a {
    color: #edffef;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.recipecategory a:hover {
    color: #97a2a3;
}
#category-select {
    font-size: 1rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    width: 100%;
    max-width: 250px; /* Adjust the max-width as per your design */
}

.search-button {
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px; /* Adjust padding as per your design */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px; /* Adjust the max-width as per your design */
}

.search-button:hover {
    background-color: #45a049;
}

.recipe-image {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    margin-bottom: 20px; /* Optional margin */
}